:root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-pink-light: hsl(322, 100%, 80%);
    --neutral-very-pale-cyan: hsl(193, 100%, 96%);
    --neutral-very-dark-cyan: hsl(193, 100%, 9%);
    --neutral-grayish-blue: hsl(208, 11%, 55%);
    --font-open-sans: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: var(--neutral-very-dark-cyan);
}

.hide-desktop {
    display: block;
}

.show-desktop {
    display: none;
}

.hero-section {
    padding: 2rem;
    background-color: var(--neutral-very-pale-cyan);
    background-image: url('/images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.hero-section_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section_nav_logo {
    width: 10.4rem;
    height: 1.6rem;
}
.hero-section_nav_link {
    background-color: white;
    font-size: 1rem;
    padding: 0.5em 2.5em;
    font-weight: bold;
    border-radius: 1.2rem;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.0954201);
}
.hero-section_main {
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.hero-section_main_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.hero-section_main_details_header {
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.hero-section_main_details_paragraph {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.hero-section_main_details_link, .get-started-section_link {
    display: block;
    background-color: var(--primary-pink);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.63rem;
    width: 80%;
    color: white;
    padding: 1em 3em;
    border-radius: 2rem;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
}


.features-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem 2rem;
}
.features-section_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}
.feature-section_list_item {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.07);
    border-radius: 1.6rem;
    padding: 8rem 3.5rem 3rem 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.feature-section_list_item_header {
    font-size: 2rem;
    margin-top: 6rem;
}
.feature-section_list_item_paragraph {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--neutral-grayish-blue);
}


.get-started-section {
    border-radius: 1.5rem;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.0710768);
    margin: 3rem 1rem;
    color: var(--neutral-very-dark-cyan);
    text-align: center;
    padding: 5rem 1.5rem 2.5rem 1.5rem;
    position: absolute;
    top: -18%;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: white;
}
.get-started-section_header {
    font-size: 1.8rem;
    line-height: 3rem;
}
.get-started-section_link {
    margin: 2rem auto 1rem auto;
    width: 75%
}


.footer {
    padding: 14rem 1.5rem 1rem 1.5rem;
    background-color: var(--neutral-very-dark-cyan);
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20rem;
}
.footer_logo {
    width: 15.2rem;
    height: 2.4rem;
}

.footer_contact-list {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}
.footer_contact-list_item {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
}
.footer_contact-list_item .location {
    align-self: start;
}

.footer_contact-list_item-paragraph {
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.footer_nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 2.7rem;
}
.footer_copyright {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.hero-section_nav_link:hover, .hero-section_nav_link:focus {
    color: var(--neutral-grayish-blue);
    cursor: pointer;
}

.hero-section_main_details_link:hover,
.hero-section_main_details_link:focus,
.get-started-section_link:hover,
.get-started-section_link:focus {
    background-color: var(--primary-pink-light);
    cursor: pointer;
}

.footer_nav-list_item_link:hover,
.footer_nav-list_item_link:focus {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 769px) {
    .hide-desktop {
        display: none;
    }
    .show-desktop {
        display: block;
    }
    .hero-section {
        padding: 6rem 8rem;
        background-image: url("/images/bg-hero-desktop.svg");
        /*background-position: left;*/
    }
    .hero-section_nav_logo {
        width: 20rem;
        height: 3rem;
    }
    .hero-section_nav_link {
        font-size: 1.4rem;
        line-height: 1.9rem;
        border-radius: 2.4rem;
        padding: 0.8em 4em;
    }
    .hero-section_main {
        padding: 3rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }
    .hero-section_main_details {
        align-items: start;
        text-align: start;
    }
    .hero-section_main_details_header {
        font-size: 4rem;
        line-height: 6rem;
    }
    .hero-section_main_details_paragraph {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
    .hero-section_main_details_link {
        font-size: 1.4rem;
        text-align: center;
        width: 50%;
        padding: 1.5em 2em;
        border-radius: 2.8rem;
    }
    .hero-section_main_image {
        width: 50%;
    }
    .features-section {
        padding: 3rem 6rem;

    }
    .features-section_list {
        padding: 4rem;
    }
    .feature-section_list_item {
        flex-direction: row-reverse;
        gap: 20rem;
        align-items: center;
        text-align: start;
        padding: 7rem 3rem 7rem 15rem;
    }
    .feature-section_list_item_image {
        width: 40rem;
    }
    .feature-section_list_item_header {
        font-size: 2.8rem;
        line-height: 4.2rem;
    }
    .feature-section_list_item_paragraph {
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: var(--neutral-grayish-blue);
    }
    .features-section_list > .feature-section_list_item:nth-child(2) > .feature-section_content {
        order: 1;
    }
    .features-section_list > .feature-section_list_item:nth-child(2) > .feature-section_list_item_image {
        order: 2;
    }


    .get-started-section {
        width: 50%;
        left: 27%;
        padding: 4rem 3rem;
    }
    .get-started-section_header {
        font-size: 3.2rem;
    }
    .get-started-section_link {
        font-size: 2rem;
        border-radius: 4rem;
        width: 50%;
        margin-top: 4rem;
    }

    .footer {
        padding-top: 16rem;
        padding-left: 8rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer_div {
        width: 100%;
        margin-top: 5rem;
    }
    .footer_contact-list {
        width: 30%;
    }
    .footer_copyright {
        align-self: end;
    }

}
